<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

	<!-- DB 컬럼명에 userDTO의 값 하나씩 대입 이름이 같으면 resultMap 생성하지 않아도 됨 -->
	<resultMap type="userDTO" id="userMap">
		<id column="email" property="email"/>
		<result column="nickname" property="nickname"/>
		<result column="phone" property="phone"/>
		<result column="password" property="password"/>
		<result column="cash_point" property="cashPoint"/>
		<result column="user_level" property="level"/>
		<result column="name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="birth_date" property="birthDate" />
	</resultMap>
		
	<resultMap type="webtoonDTO" id="webtoonMap">
		<id column="WEBTOON_CODE" property="webtoonCode"/>
		<result column="WEBTOON_NAME" property="webtoonName"/>
		<result column="WEBTOON_LEVEL" property="webtoonLevel"/>
		<result column="WEBTOON_STATE" property="webtoonState"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<result column="PENALTY" property="penalty"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="FUNDING_PERIOD" property="fundingPeriod"/>
		<result column="SUMMARY" property="summary" />

		<association property="categoryDTO" javaType="categoryDTO">
			<id column="category_Code" property="categoryCode"/>
			<result column="category_Name" property="categoryName"/>
		</association>
	</resultMap>
	
	<resultMap type="fundApplyDTO" id="fundApplyMap">
		<id column="apply_fund_sequence" property="applyFundSequence"/>
		<result column="email" property="email"/>
		<result column="webtoon_code" property="webtoonCode"/>
		<result column="score" property="score"/>
	</resultMap>

	<!-- userManage -->
	<select id="userManage" resultMap="userMap">
		select email, nickname, phone, password, cash_Point, user_level, name, gender, birth_date from user_information 
	</select>
	
	<!-- webtoonManage -->
	<select id="webtoonManage" resultMap="webtoonMap">
		SELECT w.WEBTOON_CODE, w.WEBTOON_NAME, w.WEBTOON_LEVEL, w.WEBTOON_STATE, c.category_code, c.CATEGORY_name, w.PENALTY, w.NICKNAME, w.FUNDING_PERIOD, w.SUMMARY 
		FROM WEBTOON w join category c 
		ON (w.category_code = c.category_code)
	</select>
	
	<!-- webtoonManage -->
	<select id="fundApplyManage" resultMap="fundApplyMap">
		select apply_fund_sequence, email, webtoon_code, score from apply_fund 
	</select>
	
	<!-- userSnow -->
	<update id="userSnow" parameterType="string">
		update user_information
		set user_level = '휴먼'
		where email = #{email}
	</update>
	
	<!-- userMelt -->
	<update id="userMelt" parameterType="string">
		update user_information
		set user_level = '독자'
		where email = #{email}
	</update>
	<!-- webtoonState -->
	<update id="webtoonState" parameterType="hashMap">
		update webtoon
		set webtoon_state = #{state}
		where webtoon_code = #{webtoonCode}
	</update>
	<!-- webtoonLevel -->
	<update id="webtoonLevel" parameterType="hashMap">
		update webtoon
		set webtoon_level = #{level}
		where webtoon_code = #{webtoonCode}
	</update>
	
	<!-- webtoonLevel -->
	<update id="userLevel" parameterType="hashMap">
		update user_information
		set user_level = #{level}
		where email = #{email}
	</update>
</mapper>
