<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="authorMapper">
	<resultMap type="webtoonDTO" id="webtoonDTO">
		<id column="WEBTOON_CODE" property="webtoonCode"/>
		<result column="WEBTOON_NAME" property="webtoonName"/>
		<result column="WEBTOON_LEVEL" property="webtoonLevel"/>
		<result column="WEBTOON_STATE" property="webtoonState"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<result column="PENALTY" property="penalty"/>
		<result column="AUTHOR" property="author"/>
		<result column="FUNDING_PERIOD" property="fundingPeriod"/>
		<result column="SUMMARY" property="summary" />
	</resultMap>
	
	<!-- getMyWebtoon -->
	<select id="getMyWebtoon" resultMap="webtoonDTO" parameterType="map">
		SELECT WEBTOON_CODE, WEBTOON_NAME, WEBTOON_LEVEL, WEBTOON_STATE, CATEGORY_CODE, PENALTY, NICKNAME, FUNDING_PERIOD, SUMMARY, WEBTOON_THUMBNAIL
		FROM WEBTOON
		WHERE NICKNAME = #{nickname}
		AND WEBTOON_STATE = #{webtoonState}
	</select>
	
	<!-- madeAuthorPage -->
	<update id="madeAuthorPage" parameterType="string">
		UPDATE USER_INFORMATION SET USER_LEVEL = '작가' 
		WHERE EMAIL = #{value}
	</update>
	
	<!-- selectCategoryName -->
	<select id="categoryName" resultType="string" parameterType="string">
		SELECT LOWER(CATEGORY_NAME) FROM CATEGORY 
		WHERE CATEGORY_CODE = (SELECT CATEGORY_CODE FROM WEBTOON 
								WHERE WEBTOON_CODE = #{value}) 
	</select>
	
	<!-- episodeUpload -->
	<insert id="episodeUpload" parameterType="webtoonDTO">
		INSERT INTO EPISODE(EPISODE_SEQUENCE, EPISODE_NUMBER, HITS, RECOMMENDATION, UPLOAD_DATE, WEBTOON_CODE,
							EPISODE_TITLE, AUTHOR_WORD, THUMBNAIL, FUND_CODE) 
		VALUES(EPISODE_SEQ.NEXTVAL, #{episodeNumber}, 0, 0, sysdate, #{webtoonCode}, #{episodeTitle}, #{authorWord},
				#{thumbnail}, null)
	</insert>
	
	<!-- selectEpisodeSequence -->
	<select id="episodeSequence" resultType="_int" parameterType="map">
		SELECT EPISODE_SEQUENCE FROM EPISODE WHERE WEBTOON_CODE = #{webtoonCode} AND EPISODE_NUMBER = #{episodeNumber}
	</select>
	
	<!-- episodeImageUpload -->
	<insert id="episodeImageUpload" parameterType="imageDTO">
		INSERT INTO IMAGE(IMAGE_INDEX, EPISODE_SEQUENCE, FILE_NAME) 
		VALUES(#{imageIndex}, #{episodeSequence}, #{fileName})
	</insert>
	
	<!-- modifyEpisode -->
	<update id="modifyEpisode" parameterType="episodeDTO">
		UPDATE EPISODE SET EPISODE_TITLE = #{episodeTitle}, AUTHOR_WORD = #{authorWord}
		<if test="thumbnail != null">
		, THUMBNAIL = #{thumbnail}
		</if>
		WHERE EPISODE_SEQUENCE = #{episodeSequence}
	</update>
	
	<!-- modifyImage -->
	<update id="modifyImage" parameterType="imageDTO">
		UPDATE IMAGE SET FILE_NAME = #{fileName} WHERE IMAGE_INDEX = #{imageIndex} and EPISODE_SEQUENCE = #{episodeSequence}
	</update>
	
	<!-- deleteImage -->
	<delete id="deleteImage" parameterType="imageDTO">
		DELETE FROM IMAGE WHERE IMAGE_INDEX = #{imageIndex} and EPISODE_SEQUENCE = #{episodeSequence}
	</delete>
</mapper>