<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="webtoonMapper">

	<!-- DB 컬럼명에 userDTO의 값 하나씩 대입 이름이 같으면 resultMap 생성하지 않아도 됨 -->
	<resultMap type="webtoonDTO" id="webtoonDTO">
		<id column="WEBTOON_CODE" property="webtoonCode"/>
		<result column="WEBTOON_NAME" property="webtoonName"/>
		<result column="WEBTOON_LEVEL" property="webtoonLevel"/>
		<result column="WEBTOON_STATE" property="webtoonState"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<result column="PENALTY" property="penalty"/>
		<result column="AUTHOR" property="author"/>
		<result column="FUNDING_PERIOD" property="fundingPeriod"/>
		<result column="SUMMARY" property="summary" />
	</resultMap>
	
	<resultMap type="episodeDTO" id="episodeDTO">
		<id column="EPISODE_SEQUENCE" property="episodeSequence"/>
		<result column="WEBTOON_CODE" property="webtoonCode"/>
		<result column="EPISODE_NUMBER" property="episodeNumber"/>
		<result column="HITS" property="hits"/>
		<result column="RECOMMENDATION" property="recommendation"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="EPISODE_TITLE" property="episodeTitle"/>
		<result column="NICKNAME_WORD" property="nicknameWord"/>
		<result column="THUMBNAIL" property="thumbnail"/>
		<result column="FUNDCODE" property="fundCode"/>
	</resultMap>

	
	<!-- selectWebtoonByLevel -->
	<select id="selectWebtoonByLevel" resultMap="webtoonDTO" parameterType="map">
		SELECT WEBTOON_NAME, WEBTOON_LEVEL, WEBTOON_STATE, CATEGORY_CODE, PENALTY, AUTHOR, FUNDING_PERIOD, SUMMARY
		FROM WEBTOON
		WHERE WEBTOON_STATE = #{webtoonLevel} AND CATEGORY_CODE = #{categoryCode}
	</select>
	
	<!-- searchByKeyword -->
	<select id="searchByKeyword" resultMap="webtoonDTO" parameterType="String">
		SELECT WEBTOON_NAME, WEBTOON_CODE, WEBTOON_STATE, CATEGORY_CODE, PENALTY, AUTHOR, FUNDING_PERIOD, SUMMARY
		FROM WEBTOON
		WHERE WEBTOON_NAME = %#{value}% OR AUTHOR = %#{value}%
	</select>
	
	<!-- selectAllEpisode -->
	<select id="selectAllEpisode" resultMap="episodeDTO" parameterType="String">
		SELECT EPISODE_SEQUENCE, WEBTOON_CODE, EPISODE_NUMBER, HITS, RECOMMENDATION, UPLOAD_DATE, EPISODE_TITLE, NICKNAME_WORD, THUMBNAIL, FUNDCODE
		FROM WEBTOON
		WHERE WEBTOON_CODE = #{value}
	</select>
	
	<!-- selectImg -->
	<select id="selectImg" resultMap="episodeDTO" parameterType="_int">
		SELECT EPISODE_SEQUENCE, WEBTOON_CODE, EPISODE_NUMBER, HITS, RECOMMENDATION, UPLOAD_DATE, EPISODE_TITLE, NICKNAME_WORD, THUMBNAIL, FUNDCODE
		FROM WEBTOON
		WHERE WEBTOON_CODE = #{value}
	</select>
</mapper>