<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="webtoonMapper">

	<resultMap type="webtoonDTO" id="webtoonDTO">
		<id column="WEBTOON_CODE" property="webtoonCode"/>
		<result column="WEBTOON_NAME" property="webtoonName"/>
		<result column="WEBTOON_LEVEL" property="webtoonLevel"/>
		<result column="WEBTOON_STATE" property="webtoonState"/>
		<result column="CATEGORY_CODE" property="categoryCode"/>
		<result column="PENALTY" property="penalty"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="FUNDING_PERIOD" property="fundingPeriod"/>
		<result column="SUMMARY" property="summary" />
		<result column="WEBTOON_THUMBNAIL" property="webtoonThumbnail"/>
		<result column="SEBSCRIPTION_SEQUENCE" property="subscriptionSequence"/>
	</resultMap>
	
	<resultMap type="episodeDTO" id="episodeDTO">
		<id column="EPISODE_SEQUENCE" property="episodeSequence"/>
		<result column="WEBTOON_CODE" property="webtoonCode"/>
		<result column="EPISODE_NUMBER" property="episodeNumber"/>
		<result column="HITS" property="hits"/>
		<result column="RECOMMENDATION" property="recommendation"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="EPISODE_TITLE" property="episodeTitle"/>
		<result column="AUTHOR_WORD" property="authorWord"/>
		<result column="THUMBNAIL" property="thumbnail"/>
		<result column="FUND_CODE" property="fundCode"/>
	</resultMap>
	
	<resultMap type="reportDTO" id="reportDTO">
		<id column="REPORT_SEQUENCE" property="reportSequence"/>
		<result column="CONTENT" property="content"/>
		<result column="EMAIL" property="email"/>
		<result column="WEBTOON_CODE" property="webtoonCode"/>
	</resultMap>
	
	<!-- selectWebtoonByLevel -->
	<!-- 카테고리코드가 null일경우 웹툰상태값으로만 검색한다. -->
	<select id="selectWebtoonByLevel" resultMap="webtoonDTO" parameterType="map">
      SELECT W.WEBTOON_CODE, W.WEBTOON_NAME, W.WEBTOON_LEVEL, W.WEBTOON_STATE, W.CATEGORY_CODE, W.PENALTY, W.NICKNAME,
      W.FUNDING_PERIOD, W.SUMMARY, W.WEBTOON_THUMBNAIL
      <if test="email != null">
      ,(SELECT SUBSCRIPTION_SEQUENCE FROM SUBSCRIPTION WHERE EMAIL = #{email} AND WEBTOON_CODE = W.WEBTOON_CODE) AS SEBSCRIPTION_SEQUENCE
      </if>
      FROM WEBTOON W join (SELECT WEBTOON_CODE, SUM(HITS) AS HITS FROM EPISODE GROUP BY WEBTOON_CODE) E
      on(W.WEBTOON_CODE = E.WEBTOON_CODE)
      WHERE LOWER(WEBTOON_LEVEL) = LOWER(#{webtoonLevel})
      <if test="categoryCode != null">
      AND LOWER(CATEGORY_CODE) = LOWER(#{categoryCode})
      </if>
      ORDER BY E.HITS desc
   </select>
	
	<!-- searchByKeyword -->
	<select id="searchByKeyword" resultMap="webtoonDTO" parameterType="map">
		SELECT WEBTOON_NAME, WEBTOON_CODE, WEBTOON_STATE, CATEGORY_CODE, PENALTY, NICKNAME, FUNDING_PERIOD, SUMMARY, WEBTOON_THUMBNAIL
		<if test="email != null">
      	,(SELECT SUBSCRIPTION_SEQUENCE FROM SUBSCRIPTION WHERE EMAIL = #{email} AND WEBTOON_CODE = W.WEBTOON_CODE) AS SEBSCRIPTION_SEQUENCE
      	</if>
		FROM WEBTOON W
		WHERE WEBTOON_NAME LIKE #{keyword} OR NICKNAME LIKE #{keyword}
	</select>
		
	<!-- checkNickname -->
	<select id="checkNickname" resultType="string" parameterType="string">
		SELECT NICKNAME
		FROM WEBTOON
		WHERE WEBTOON_CODE = #{value}
	</select>
	
	<!-- selectAllEpisode -->
	<select id="selectAllEpisode" resultMap="episodeDTO" parameterType="string">
		SELECT EPISODE_SEQUENCE, WEBTOON_CODE, EPISODE_NUMBER, HITS, RECOMMENDATION, UPLOAD_DATE, EPISODE_TITLE, AUTHOR_WORD, THUMBNAIL, FUND_CODE
		FROM EPISODE
		WHERE WEBTOON_CODE = #{value}
		ORDER BY EPISODE_NUMBER DESC
	</select>
	
	<!-- selectImg -->
	<select id="selectImg" resultType="string" parameterType="_int">
		SELECT FILE_NAME
		FROM IMAGE
		WHERE EPISODE_SEQUENCE = #{value}
		ORDER BY IMAGE_INDEX ASC
	</select>
	
	<!-- addSubscription -->
	<insert id="addSubscription" parameterType="map">
		INSERT INTO SUBSCRIPTION (SUBSCRIPTION_SEQUENCE, EMAIL, WEBTOON_CODE) 
		VALUES (SUBSCRIPTION_SEQ.NEXTVAL, #{email}, #{webtoonCode})
	</insert>
	
	<!-- addRecommend -->
	<insert id="addRecommend" parameterType="map">
		INSERT INTO RECOMMEND (RECOMMEND_SEQUENCE, EMAIL, EPISODE_SEQUENCE) 
		VALUES (RECOMMEND_SEQ.NEXTVAL, #{email}, #{epicsodeSequence})
	</insert>
	
	<!-- addReport -->
	<insert id="addReport" parameterType="reportDTO">
		INSERT INTO REPORT (REPORT_SEQUENCE, EMAIL, WEBTOON_CODE, CONTENT, EPISODE_SEQUENCE) 
		VALUES (REPORT_SEQ.NEXTVAL, #{email}, #{webtoonCode}, #{content}, #{epicsodeSequence})
	</insert>
	
	<!-- selectWebtoonByCode -->
	<select id="selectWebtoonByCode" resultMap="webtoonDTO" parameterType="string">
		SELECT WEBTOON_CODE, WEBTOON_NAME, WEBTOON_LEVEL, WEBTOON_STATE, CATEGORY_CODE, PENALTY, NICKNAME, FUNDING_PERIOD, SUMMARY, WEBTOON_THUMBNAIL
		FROM WEBTOON
		WHERE WEBTOON_CODE = (SELECT WEBTOON_CODE FROM EPISODE WHERE EPISODE_SEQUENCE= #{value})
	</select>
	
	<!-- selectNumsBySequence -->
	<select id="selectNumsBySequence" resultMap="episodeDTO" parameterType="string">
		SELECT EPISODE_SEQUENCE, EPISODE_NUMBER, HITS, RECOMMENDATION, AUTHOR_WORD,
				UPLOAD_DATE, WEBTOON_CODE, EPISODE_TITLE, THUMBNAIL, FUND_CODE
		FROM EPISODE
		WHERE EPISODE_SEQUENCE= #{value}
	</select>
	
	<!-- updateRecommendation -->
	<update id="updateRecommendation" parameterType="string">
		UPDATE EPISODE SET RECOMMENDATION = (RECOMMENDATION+1) 
		WHERE EPISODE_SEQUENCE = #{value}
	</update>
	
	<!-- isRecommended -->
	<select id="isRecommended" resultType="string" parameterType="map">
		SELECT RECOMMEND_SEQUENCE FROM RECOMMEND 
		WHERE EPISODE_SEQUENCE = #{episodeSequence} AND EMAIL = #{email}
	</select>
	
	<!-- isSubscription -->
	<select id="isSubscription" resultType="string" parameterType="map">
		SELECT SUBSCRIPTION_SEQUENCE FROM SUBSCRIPTION 
		WHERE WEBTOON_CODE = #{webtoonCode} AND EMAIL = #{email}
	</select>
	
	<!-- 조회수증가 -->
	<update id="increaseHits" parameterType="string">
		UPDATE EPISODE SET HITS = HITS+1 WHERE EPISODE_SEQUENCE = #{value}
	</update>
	
	<!-- 웹툰코드에 해당하는 웹툰정보 가져오기 -->
	<select id="selectWebtoon" resultMap="webtoonDTO" parameterType="map">
		SELECT WEBTOON_CODE, WEBTOON_NAME, WEBTOON_LEVEL, WEBTOON_STATE, 
			CATEGORY_CODE, PENALTY, NICKNAME, FUNDING_PERIOD, SUMMARY, WEBTOON_THUMBNAIL 
		<if test="email != null">
     	,(SELECT SUBSCRIPTION_SEQUENCE FROM SUBSCRIPTION WHERE EMAIL = #{email} AND WEBTOON_CODE = W.WEBTOON_CODE) AS SEBSCRIPTION_SEQUENCE
     	</if>
		FROM WEBTOON W
		WHERE WEBTOON_CODE = #{webtoonCode}
	</select>
	
</mapper>