@CHARSET "EUC-KR";

/* 해더 */

#header{
	position : fixed;
	width:100%;
	z-index: 3;
}

.link{
	width:10px;	
}

.top_card{
	width:350px;
	height:250px;
}

/*말풍선*/
.bubble 
{
display:none;
position: fixed;
width: 265px;
height: 300px;
padding: 11px;
background: #FFFFFF;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
z-index:5;
top: 50px;
right:5px;
z-index:999;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 12px 14px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -12px;
left: 228px;
}

/*검색 아이콘*/
.icon_search{
	margin-right:50px;
	margin-left:25px;
}

#logo{
	width:120px;
	margin-top: 10px;
}


/* 사이드 네비게이션 */
#snb{
	position : relative;
	z-index: 2;
}



/* 사이드 네비게이션 내부 box*/
#snb #box_snb{
	margin-top:15px;
	width:100%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -20px rgba(0, 0, 0, 0.2);
	height:300px;
}

/* 내용 */
#content{
	position : relative;
	padding-top:100px;
	padding-left:320px;
	z-index: 1;
}

/* 푸터 */
#footer{
	position : relative;
	z-index: 1;
}

/* label color */
   .input-field label {
     color: #000;
     font-size: 15px;
     padding-bottom: 1px;
     top:0.4rem;
   }
   .input-field.col label{
   	left:1px;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
     font-size: 12px;
     padding-bottom: 2px;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   
   /*login_form*/
    .login_form{
   		padding : 10px;
   		margin-bottom: -11px;
    }
	.login_form .input-field{
		margin-top:30px;
	}	
	
	/*사이드 내비게이션*/
	#box_snb .title{
		font-size: 20px;
		font-weight: 500;
		color:#03A9F4;
		padding-top: 10px;
		margin-bottom: -1px;
	}
	
	/*사이드 네비게이션 버튼*/
	.snbtn{
		width:100%;
		height:30px;
		background-color:#03A9F4;
		border: none;
		border-left:solid 1px #fff;
		color:#fff;
		line-height:33px;
	}
	.snbtn:hover{
		background-color:#4FC3F7 !important;
	}
	.snbtn:focus{
		background-color:#03A9F4;
	}
	/*
    When creating your CSS selector,
    change "brown" to something of your choosing
    */
    .waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #E1F5FE;
    }
	
/* 반응형 */
@media only screen and (max-width: 992px) {
  #content{
  	margin-left:0px;
  	padding-left:10px;
  }
  #category_mobile{
  	display:none;
  }
  footer.page-footer{
  	padding-left:0px;
  }
}

@media only screen and (min-width : 992px) {
  #category_mobile{
  	display:none;
  }
}
