@CHARSET "EUC-KR";

html, body { margin:0; padding:0; height:100%; }

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#search-modal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#search-modal::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#search-modal::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.someinput::-ms-clear {
    display: none;
}
input[type=text]::-ms-clear { display: none !important; }

/*container*/
#container{
}

/* 해더 */
#header{
	position : fixed;
	width:100%;
	z-index:9998;
}

.header-box{
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
}

.line-nav{
	margin-bottom: 15px;
}

.search-nav{
	position: absolute;
	z-index: 9999;
	opacity: 0;
	display: none;
	background-color: red !important;
}

/*search bar*/
.input-field input[type=search]:focus{
	background-color: #FF5252 !important;
	color:white !important;
}

.input-field input[type=search]:focus + label i,
.input-field input[type=search]:focus ~ .mdi-navigation-close,
.input-field input[type=search]:focus ~ .material-icons {
  color: white;
}

@-webkit-keyframes example {
    .search-nav{opacity: 1;}
}

/* Standard syntax */
@keyframes example {
    .search-nav{opacity: 1;}
}

#footer{
	margin-top:-1.9em;height:1.9em;
}

.link{
	width:10px;	
	text-align: center;
}

.title{
	margin: 0;
	padding:20px;
}

.title-text{
	margin-top : 30px;
	text-align: center;
}

.top_card{
	margin:30px;
	display: inline-block;
	left:10% !important;
	padding: 0 !important;
}

.card-image-box{
	height: 0 !important;
	padding-bottom: 90% !important;
}

.webtoon_card{
	margin:30px;
	display: inline-block;
	left:2% !important;
	height:200px !important;
}

.webtoon_card-font{
	padding-right:0px !important;
	padding-left:3px !important;
	padding-top:2px !important;
}

.webtoon_card-icon{
	padding-top:12px !important;	
}

.scription-a-index{
	float:right;
	margin-top: -5px;
	margin-right:-15px;
	padding:10px; 
	font-size: 1.5rem;
}

.img_element{
	max-width: 60% !important;
}

/*말풍선*/
.bubble 
{
display:none;
position: fixed;
width: 265px;
height: 300px;
padding: 11px;
background: #FFFFFF;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
z-index:5;
top: 50px;
right:5px;
z-index:999;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 12px 14px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -12px;
left: 228px;
}

/*검색 아이콘*/
.icon_search{
	margin-right:50px;
	margin-left:25px;
}

#search-modal{
		
}

.search-modal-content{
		height: 400px;
}

#logo{
	width:120px;
	margin-top: 10px;
}


/* 사이드 네비게이션 */
#snb{
	position : relative;
	z-index: 2;
}

.side-nav{
	background-color: #616161;	
	overflow: hidden;
}

/* 사이드 네비게이션 내부 box*/
#box_snb-nonlogin, #box_snb-login{
	margin-top:15px;
	width:100%;
	height:290px;
}

#box_snb-nonlogin{
	padding-top:0px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -20px rgba(0, 0, 0, 0.2);
	background-color: #424242;
}

#box_snb-login{
	background-color: #424242 ;
	height: 340px;
}

.scription-box{
	margin-bottom: 55px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 119%;
	-ms-overflow-style: none;
	
}
.scription-btn{
	background-color:#424242 !important;
	width:230px;
	margin-left: 10px;
	height:50px !important;
	line-height: 20px !important;
	padding-top: 5px !important; 
	border-radius: 30px;
	margin-bottom: 10px;
	
	scrollbar-3dLight-Color: white;
	scrollbar-arrow-color: white; 
	scrollbar-base-color: white; 
	scrollbar-Face-Color: white; 
	scrollbar-Track-Color: white; 
	scrollbar-DarkShadow-Color: white; 
	scrollbar-Highlight-Color: white; 
	scrollbar-Shadow-Color: white;
}

.scription-box::-webkit-scrollbar {width: 0px; height: 0px; border: 0; }

.scription-btn:FIRST-CHILD{
	margin-top: 10px;
}

.scription-btn:hover{
	background-color:#212121 !important;
}

.scription-btn div{
	display: inline-block;
	color: white;
	font-weight: 400;
}

.author-name{
	font-weight: 300;
}

.scription-btn div:FIRST-CHILD{
	vertical-align:top;
	margin-left: -25px;
}

#nullscription{
	color:#E0E0E0;
}

.none-scription-icon{
	margin-top: 60%;
	font-size: 70px;
	margin-left: 70px;	
}

.none-scription-text{
	margin: 0 !important;
	margin-left: 25px !important;
	margin-top: -15px !important;
}

/*마이페이지, 로그아웃 사이 line*/
.line{
	height:20px;
	width:1.5px;
	margin-top:13px;
	background-color: black;
}

.logout-snb{
	text-align:right;
}

.a-button-nav{
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom : 5px;
}

.charge-btn{
	height: 30px!important;
	line-height: 30px!important;
	width:100px;
	padding:0!important;
	margin: -2px!important;
}

/* 내용 */
#content{
	min-height:100%;
	position : relative;
	padding-top:60px;
	padding-left:250px;
	padding-right:0px;
	z-index: 1;
	background-color:#FAFAFA;
}

/* 푸터 */
#footer{
	position : relative;
	z-index: 1;
}

/* label color */
   .login-field label {
     color: #E0E0E0;
     font-size: 15px;
     padding-bottom: 1px;
     top:1rem;
   }
   .login-field.col label{
   	left:1px;
   }
   
   /* valid color */
   .login-field input[type=text].valid {
     border-bottom: 1px solid #E0E0E0;
     box-shadow: 0 1px 0 0 #E0E0E0;
     color:#E0E0E0;
   }
   
   /* label focus color */
   .login-field input[type=text]:focus + label {
     color: #FF8A80;
     font-size: 12px;
     padding-bottom: 2px;
   }
   /* label underline focus color */
   .login-field input[type=text]:focus {
     border-bottom: 1px solid #FF8A80;
     box-shadow: 0 1px 0 0 #FF8A80;
     color:#FF8A80;
   }

   /* invalid color */
   .login-field input[type=text].invalid {
     border-bottom: 1px solid #E0E0E0;
     box-shadow: 0 1px 0 0 #E0E0E0;
     color:#FF8A80;
   }
   
   .login-field input[type=password]:focus + label {
     color: #FF8A80;
     font-size: 12px;
     padding-bottom: 2px;
   }
   /* label underline focus color */
   .login-field input[type=password]:focus {
     border-bottom: 1px solid #FF8A80;
     box-shadow: 0 1px 0 0 #FF8A80;
     color:#FF8A80;
   }
   /* valid color */
   .login-field input[type=password].valid {
     border-bottom: 1px solid #E0E0E0;
     box-shadow: 0 1px 0 0 #E0E0E0;
     color:#E0E0E0;
   }
   /* invalid color */
   .login-field input[type=password].invalid {
     border-bottom: 1px solid #E0E0E0;
     box-shadow: 0 1px 0 0 #E0E0E0;
     color:#E0E0E0;
   }
   
   /* icon prefix focus color */
   .login-field .prefix.active {
     color: #FF8A80;
   }
   .login-form-icon{
   	 padding-top:10px;
   	 color:#E0E0E0;
   }
   /*login_form*/
    .login_form{
    	height : 2rem;
   		margin-bottom: -11px;
   		padding-left:10px;
   		padding-right:10px;
    }
	.email-field{
		margin-top:30px;
	}
	
	/*사이드 내비게이션*/
	#box_snb .title{
		font-size: 20px;
		font-weight: 500;
		color:#03A9F4;
		padding-top: 10px;
		margin-bottom: -1px;
	}
	
	/*사이드 네비게이션 버튼*/
	.snbtn{
		width:200px;
		height:40px;
		top:10px;
		background-color:#03A9F4;
		border: none;
		color:#fff;
		line-height:33px;
		border-radius: 10px;
	}
	.snbtn:hover{
		background-color:#E57373 !important;
	}
	.snbtn:focus{
		background-color:#03A9F4;
	}
	/*
    When creating your CSS selector,
    change "brown" to something of your choosing
    */
    .waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #E1F5FE;
    }
	
	.modal-top{
		z-index: 9999 !important;
		top:15% !important;
	}
	
	.login-category a{
		font-size: 12px;
		color: #BDBDBD;
	}
	
	.profile-icon{
		width:90px;
		height:90px;
		color:white;
		border-radius: 50%;
		display: table;
		margin-top: 30px;
		margin-left: 85px;
	}
	
	.profile-icon h5{
		 display: table-cell; vertical-align: middle;
		 font-size: 3rem;
	}
	
/*modal id*/
#id-pwd-quarter-modal{
	height: 270px;	
	overflow: hidden;
	top: 30% !important;
}	

#idfind-modal{
	height: 380px;
	overflow: hidden;
	top: 25% !important;
}

#pwdfind-modal{
	height: 430px;
	overflow: heidden;
	top: 25% !important;
}

/*modal class*/
.id-pwd-find-form{
	margin-top: 30px;	
}

.modal{
	border-radius: 10px;
}

.modal-content p{
	padding-top: 0px;
}

.modal-title{
	width: 100%;
}

.modal-title h5{
	padding: 10px;
	margin: 0;
}

.tPoint-printing-snb{
	padding-right: 10px;
	padding-left: 5px;
	margin-bottom:25px;
}

.tPoint-printing-snb h6{
	margin-top: 5px;
}

.farst-li{
	margin-top: 30px;
}

.snb-login-form{
	margin-bottom: 10px !important;
	color: #BDBDBD;
}

.sign-out-btn{
	margin-top: 315px !important;
}

.sign-out-btn a{
	font-size: 12px !important;
	color: #6e6e6e !important;
}

/*tab*/
.indicator{
	background-color: #f44336 !important;	
}

.category-tab-index{
	background-color: white;
}

.tabcss{
	padding : 0 !important;
}

/*tab color*/
.tabs .tab a{
	color:#9e9e9e;
}
.tabs .tab a:hover, .tabs .tab a.active{
	color:#fff;
}
.indicator{
	background-color:#fff !important;	
}

a.active{
	color: #fff !important;
}



/* 반응형 */
@media only screen and (max-width: 992px) {
  #content{
  	margin-left:10px;
  	padding-left:10px;
  }
  #category_mobile{
  	display:none;
  }
  footer.page-footer{
  	padding-left:0px;
  }
  .top_card{
  	left : 0 !important;
  }
}

@media only screen and (max-width: 1112px) {
	.top_card{
		
	}
}

@media only screen and (min-width : 992px) {
  #category_mobile{
  	display:none;
  }
}

/*header 반응형*/
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 60px;
    line-height: 60px;
  }
  .navbar-fixed {
    height: 60px;
  }
}