@CHARSET "EUC-KR";

#content-myInfo{
	padding-top: 80px;
	padding-left:300px;
	padding
}

.tab-card-info{
	margin-top: 10px;
}

.tab-myinfo{
	padding:0px !important;
}

.tab-frame-myinfo{
	margin-bottom: 50px;
}

.card-frame-myInfo{
	width:100%;
	border-radius: 20px;
	padding:10px;
}

.subscribe-list{
	border-radius: 10px;	
}
.t-change{
	text-align: center;
}

.title-div{
	text-align: center;
}

.input-infomation-inline{
	display:inline-block;
	width:100%;
}

.img-preview{
	width:100px;
	height:100px;
	border: 1px solid red;
	text-align: center;
	vertical-align: middle;
}

.author-management-card{
	height:500px;	
	padding: 30px;
}

.account-number-field{
	margin:13px;
}

.author-management-uploadbtn{
	margin-top: 145px;
}