@CHARSET "EUC-KR";

#content-myInfo{
	padding-top: 60px;
	padding-left:250px;
	padding-bottom: 20px;
}

.tab-card-info{
	margin-top: 10px;
}

.tab-myinfo{
	padding:0px !important;
}

.tab-frame-myinfo{
	margin-bottom: 50px;
}

.card-frame-myInfo{
	width:100%;
	border-radius: 20px;
	padding:10px;
}

.card-frame-myInfo-default{
	width:100%;
	border-radius: 20px;
	padding:10px;
	height:800px;
}

.subscribe-list{
	border-radius: 10px;	
}
.t-change{
	text-align: center;
}

.title-div{
	text-align: center;
}

.title-div h5{
	margin-bottom: 60px !important;
}

.input-infomation-inline{
	display:inline-block;
	width:100%;
}

.img-preview{
	width:100px;
	height:100px;
	border: 1px solid red;
	text-align: center;
	vertical-align: middle;
}

.author-management-card{
	height:560px;	
	padding: 30px;
}

.account-number-field{
	margin:13px;
}

.author-management-uploadbtn{
	margin-top: 90px;
}

.author-management-context p{
	text-align: center;
}

/*연재중인 웹툰 플로팅 버튼*/
.publish-webtoon-floating{
	width : 70px !important;
	height : 70px !important;
}

/*대표 플로팅 버튼의 아이콘*/
.first-icon{
	line-height: 70px !important;	
}

.btn-floating{
	width:60px;
	height:60px;
	line-height: 75px;
}

.mini-floating{
	margin-top: -5px;
}

#modal2{
	z-index: 9999 !important;
}

.modal-content-funding{
	height:500px;
}

.author-icon{
	margin-top : 200px;
	color: #F44336;
	font-size: 100px;
}

.title-box{
	height: 50px;
}

.title-text{
	margin-top: 0px;	
}

.file-field{
	margin: 0;	
}

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ff5252;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom:1px solid #ff5252;
	box-shadow:0 1px 0 0 #ff5252;
   }
