@CHARSET "EUC-KR";

#content-myInfo{
	padding-top: 80px;
	padding-left:300px;
	padding
}

.tab-card-info{
	margin-top: 10px;
}

.tab-myinfo{
	padding:0px !important;
}

.tab-frame-myinfo{
	margin-bottom: 50px;
}

.card-frame-myInfo{
	width:100%;
	border-radius: 20px;
	padding:10px;
}

.subscribe-list{
	border-radius: 10px;	
}

/* card slider css */
        #container
        {
            width: 642px;
            height: auto;
            overflow: hidden;
        }
        #list-container
        {
            overflow: hidden;
            width: 600px;
            float: left;
            border: solid 1px blue;
        }
        .list
        {
            background: #fff;
            min-width: 3400px;
            float: left;
        }
        #arrowR
        {
            background: yellow;
            width: 20px;
            height: 50px;
            float: right;
            cursor: pointer;
            margin-top: 90px;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            color: #000;
            padding-top: 25px;
        }
        #arrowL
        {
            margin-top: 90px;
            background: yellow;
            width: 20px;
            height: 50px;
            float: left;
            cursor: pointer;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            color: #000;
            padding-top: 25px;
        }
        .item
        {
            background: red;
            width: 140px;
            height: 240px;
            margin: 5px;
            float: left;
            position: relative;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            color: White;
        }