@CHARSET "EUC-KR";

#content{
	padding-top: 60px;
	padding-left:250px;
	padding-right: 0px;
}

.title-box{
	margin-bottom: 0px;
}

.webtoon-title-row{
	margin-bottom: -6px;	
	padding: 0 !important;
}

#footer{
	margin:0	
}

#episode-list{
	padding: 20px;
	margin: 20px;
	background-color: white;
	border-radius: 20px;
}

#webtoon-info{
	padding: 20px;
	padding-top: 0px;
}

.webtoon-title{
	width:100%;
	height: 0 !important;
	padding-bottom: 100% !important;
	position: relative !important;
	overflow: hidden !important;
}

.webtoon-title img{
	position: relative !important;
	width: 100% !important;
}

.webtoon-name, .webtoon-title{
	display: inline-block;
}

.webtoon-name{
	vertical-align: top;
}

.mywebtoon-tab{
	background-color:transparent !important; 	
}

.tab-row{
	background-color: #424242;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  white-space: nowrap;
}

.tabs.tabs-transparent {
  background-color: transparent;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #fff;
}

.tabs.tabs-transparent .indicator {
  background-color: #fff;
}

.tabs.tabs-fixed-width {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs.tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs .tab a {
  color: rgba(3, 169, 244, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #03A9F4;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(3, 169, 244, 0.7);
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #81D4FA;
  will-change: left, right;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #03A9F4;
}

.webtoon-title, .episode_thumbnail, .episode_chart {
	display: inline-block;
	
}

.chart{
	height:80px;
}

.episode_chart {
	margin-right:12px;
	margin-top:12px;
	float: right;
}

.episode_text{
	display: inline-block;
	vertical-align: top;
}

.episode_thumbnail{
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 10px;
}

.thumbnail{
	width: 90px;
	height: 90px;
	border-radius: 10px;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #03A9F4;
}

.report {
	border:solid red 1px;
	background-color:red;
	color:#fff;	
}

.episode-curtain{
	background-color:black;
	position: absolute;
	width: 1011px;
	height: 103px;
	opacity: 0.5;
	border-radius: 15px;
}

.episode-box{
	border-radius: 15px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lock{
	margin-top: 25px;
	color: white;
	font-size: 50px;
}

.scription-a-webtoon{
	float: right;
	position: relative;
	margin-top: 175px;
	margin-right: 10px;
	color:#212121;
}

#episode-upload{
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 70px;
	height: 70px;
}

#episode-upload-icon{
	line-height: 70px;
}